-var sectionOffset = group.logo ? ' mw8 mr7-l' : '';

section#group-profile(
class="mv4 ph3 ph4-l" + sectionOffset
)

	h2 מי אנחנו

	each para in group.description
		p=para

	div(
	data-role="group-contacts"
	class="mt4"
	)
		each contact in group.contacts
			span(class="db mt2 b")=contact.hebChannel + ' - ' + contact.name

			if contact.channel === 'email'
				a(href="mailto:"+contact.value class="db")=contact.value
			else if contact.channel === 'tel'
				a(href="tel:"+contact.value class="db")=contact.value
			else if contact.channel === 'link'
				a(href=contact.value class="db")=contact.humanValue
			else
				span(class="db")=contact.value
