.paper.relatedGroups(
ng-if="sGroup.group.relatedGroups.length"
)

	h2.title יוזמות נוספות ב-&nbsp;
		a(
		ui-sref="groups({ category: main.engCatSlug(sGroup.group.color) })"
		) {{ main.categories[sGroup.group.color] }}

	.singleRelatedGroup(
	ng-repeat="relatedGroup in sGroup.group.relatedGroups"
	)

		a.logo(
		ui-sref="singleGroup({ groupID: relatedGroup.link })"
		ng-if="relatedGroup.logo.url"
		ng-style="{ 'background-image': 'url(' + relatedGroup.logo.url + ')' }"
		)

		a.displayName(
		ui-sref="singleGroup({ groupID: relatedGroup.link })"
		) {{ relatedGroup.displayName }}

		.desc {{ sGroup.trimMax(relatedGroup.desc, 140) }}