extends ../../layout

block content

    h1(class="f3 pr4 mv4")= (search.results.length ? search.results.length + ' תוצאות חיפוש עבור: "' : 'לא נמצאו תוצאות חיפוש עבור: "') + search.terms + '"'

    #search-results

        each group in search.results

            article(
            class="b--black-05 ba br1 bw1 ma3 pa2 v-top"
            )

                a(
                class="cf db no-underline"
                title=group.title
                href='/group/' + (group.namespace || group._id)
                )

                    if group.hero
                        img(
                        class="fr w4 w5-l ml2 o-90 ba b--light-gray pa2 border-box"
                        src=group.hero
                        )

                    div(
                    data-role="group-content-container"
                    class="fr ph2"
                    )
                        span(
                        data-role="group-title"
                        class="db mv2 gray f4 f3-l lh-title"
                        )= group.title

                        span(
                        data-role="group-description-summary"
                        class="db f5 f4-l lh-copy light-silver"
                        )= group.description