extends ../../layout

block content

    section

        h1(class="f3 pr4")= (search.results.length ? search.results.length + ' תוצאות חיפוש עבור: "' : 'לא נמצאו תוצאות חיפוש עבור: "') + search.terms + '"'

        #search-results

            each group in search.results

                article(
                class="dib v-top ma3 mb4 mb3-l bw1 b--gray pa2 tr"
                )

                    a(
                    class="dib link pointer"
                    title=group.title
                    href=group.url
                    )

                        if group.hero
                            img(
                            class="o-90 ba b--light-gray pa2 border-box"
                            src=group.hero
                            )

                        div(
                        class="ma2 br1 b--transparent"
                        )
                            span#title(class="db mv2 gray f4 lh-copy")= group.title
                            span#desc(class="db light-silver f5 lh-title")= group.description