header(
class="z-5 bg-gold fixed top-0 right-0 left-0 w-100 shadow-1 ph3 ph4-ns pv1 pv2-ns pv3-l"
)

    a(
    class="v-mid link fw6 tracked dib ml3 white"
    href='/' title='עמוד הבית'
    ) מכאן

    form.relative.cf.dib.w-100.w-60-ns.mv2.mv0-ns.mw6.center.v-mid(
    action='/search' method='get'
    )

        input#search-input.input-reset.outline-0.fr.ph3.pv2.w-100.bg-washed-white.bn.br2.f5.black-80(
        type='text' name='q' value=''
        )

        input.absolute.left-0.button-reset.pointer.ph3.pv2.w3.bg-white.hover-bg-yellow.bg-left.bg-animate.dfc.bn.br--left.br2.f5(
        type='submit' value=''
        )
