header(
class="z-5 bg-gold w-100 shadow-1 ph3 ph4-ns pv1 pv2-ns pv3-l"
)

    a(
    class="v-mid link fw6 tracked dib ml3 theme-headline"
    href='/' title='עמוד הבית'
    ) מכאן

    form.relative.cf.dib.w-100.w-60-ns.mv2.mv0-ns.mw6.center.v-mid(
    action='/search' method='get'
    )

        input#search-input.input-reset.outline-0.fr.ph3.pv2.w-100.bg-washed-white.bn.br2.f5.black-80(
        type='text' name='q' value=''
        )

        input(
        type='submit'
        value=''
        class="absolute bg-animate bg-center bg-white bn br--left br2 button-reset hover-bg-yellow left-0 pointer pv2 w3"
        )
